*{
	margin: 0;
	padding: 0;
}

.top{
	font-size: 30px;
	font-family: arial;
	font-weight: bold;
	text-align: center;
	background-color: #084B8A;
	color: #fff;
}

ul{
	list-style-type: none;
}

label.nav-label{
	width: 350px;
	text-decoration: none;
	text-align: left;
	font-size: 12pt;
	font-family: arial;
	color: #000;
	display: block;
	background-color: #bdbdbd;
	margin: 0;
	padding: 0;
}

label.nav-label:hover{
	background-color: #f2f2f2;
	transition: .4s;
}

input[type="checkbox"]{
	display: none;
}


input[type="checkbox"]:checked ~ .nav{
	transition: .4s;
	transform: translateX(350px);
	width: -350px;
	text-decoration: none;
	text-align: left;
	font-size: 12pt;
	color: #000;
	display: block;
	padding: 0;
	margin: 0;
	background-color: #bdbdbd;
	border: none;
}

.nav{
	width: 350px;
	text-decoration: none;
	text-align: left;
	font-size: 12pt;
	color: #000;
	position: relative;
	display: none;
	left: -350px;
	padding: 0;
	margin: 0;
	background-color: #bdbdbd;
	border: none;
}

.nav-button:hover{
	background-color: #f2f2f2;
	transition: .4s;
}

.nav-button{
	width: 350px;
	text-decoration: none;
	text-align: left;
	font-size: 12pt;
	color: #000;
	position: relative;
	display: block;
	padding: 0;
	margin: 0;
	background-color: #bdbdbd;
	border: none;
}

/*.nav-sub{
	display: none;
}

/*nav{
	background-color: #BDBDBD;
	width: 400px;
	font-family: arial;
	box-shadow: 2px 2px 2px gray;
}

nav ul li{
	display: block;
}

nav ul li a{
	text-decoration: none;
	color: #000;
	display: block;
	padding: 10px;
	border-bottom: 1px #f2f2f2 dashed;
}
*/
/*
nav ul li a:hover{
	background-color: #fff;
	color: #000;
}

nav ul li ul{
	padding-left: 5px;
}
*/